


.btnMenu{
    z-index: 1;
    display: none;
    background-color: transparent;
    border-style: none;
    border-radius: 0.2rem;

    svg{
        fill: rgb(80, 71, 71);
        transition: all ease 0.5s;
    }
    &:hover{
        svg{
            fill:black;
            filter: drop-shadow(0px 0px 8px rgb(70, 64, 64) );
        }
    }
}

.modal {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(200px, 100vw, 500px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .btnCerrar {
        width: fit-content;
        padding: 0.5em;
        background-color: transparent;
        border-style: none;
        border-radius: 0.2rem;
        svg{
            width: 2.5rem;
            &:hover{
                fill:goldenrod
            }
        }
    }

}

@media (max-width:580px) {
    .btnMenu{
        display: block;
    }
}