

.navbarOpc{
    /* align-self: center;
    justify-self: center; */
    padding: 0.2em;
    ol{
        display: flex;
        gap: 2.5rem;
    }
    li{
        list-style: none;
        display: flex;
    }
    svg{
        width: 1.5rem;
        fill: black;
    }

}

.navbarCategorias{
    /* border: 1px solid blue; */

    /* grid-column: 1/4; */
    padding: 0.3em;
    ol{
        flex-direction: row;
    }
}

