
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: none;
    background-color: transparent;
    border-style: none;
    border-radius: 0.2rem;
    svg{
        fill: rgb(80, 71, 71);
        transition: all ease 0.5s;
    }
    &:hover{
        svg{
            fill:black;
            filter: drop-shadow(0px 0px 8px rgb(70, 64, 64) );
        }
    }
}

@media (max-width:580px) {
    .menu{
        display: block;
    }
}