
.modal{
    background-color: rgba(127, 255, 212, 0.301);
    position: absolute;
    top:0;
    left: 0;
    width:clamp(500px,100vw,500px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .cerrar{
        width: fit-content;
    }
   
}