.contenedorSearch{
    display: flex;
    
    svg{
        width: 1.2rem;
    }

    input{
        width: 0;
        transition: all 0.8s;
        opacity:0;
        margin-right: 0.5rem;
        padding: 0.5em;
    }

    &:hover{
        input{
            width: 8rem;
            opacity: 1;
        }
    }
}